<%# メールアドレス変更 %>
<div class="">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
    <%= f.label :メールアドレスの変更 %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
    <%# テーマカラー %>
    <div class="field">
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
     <div>【すでにアドレス変更申請済】 <%= resource.unconfirmed_email %>宛てに認証メールを送信しましたので認証を行って下さい。</div>
    <% end %>

    <div class="field">
      <%= f.label :パスワード %><br />
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>
    <div class="actions">
      <%= f.submit "認証メール送信", class: '' %>
    </div>
    <p class="">認証完了後にアドレス変更となります。</p><br><br>
  <% end %>

</div>

<%# パスワード変更 %>
<div class="">
  <p class="">パスワードの変更</p>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :現在のパスワード %><br />
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>

    <div class="field">
      <%= f.label :新しいパスワード %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :新しいパスワード再入力 %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit "パスワード変更", class: '' %>
    </div>
  <% end %>
  
</div>