<h2 class=""><%= current_comp.name %>様 アカウント情報</h2>

<%# 各種情報 %>
<div class="">
  <p class="">登録情報</p>
  <p class="">　　　　部署：<%= current_comp.group %></p>
  <p class="">　　　メール：<%= current_comp.email %></p><br>
  <p class="">設定情報</p>
  <p class="">テーマカラー：<%= current_comp.them_col %></p>
  <p class="">ご利用プラン：<% if current_comp.pro %>Pro(有料)<% else %>無料<% end %></p><br>
</div>

<%# セキュリティ情報 %>
<div class="">
  <p class="">セキュリティ情報</p>
  <p class="">前回ログイン日時：<%= current_comp.last_sign_in_at %></p>
  <p class="">最新ログイン日時：<%= current_comp.current_sign_in_at %></p>
  <p class="">　前回ログインIP：<%= current_comp.last_sign_in_ip %></p>
  <p class="">　最新ログインIP：<%= current_comp.current_sign_in_ip %></p>
  <p class="">累計ログイン回数：<%= current_comp.sign_in_count %></p><br>
  <p class="">前回メール認証送信日時：<%= current_comp.confirmation_sent_at %></p>
  <p class="">メール認証を行った日時：<%= current_comp.confirmed_at %></p><br>
</div>

<%# アドレス・パスワード変更 %>
<%= render "devise/shared/edit_form", resource: resource %>
