<!DOCTYPE html>
<html>
  <head>
    <title>ResumeOnline</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- responsive / reset css / web font -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
    <!-- responsive / reset css / web font -->

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# header %>
    <header>
      <p>ResumeOnline</p>
      <%= link_to 'ユーザー登録', new_user_registration_path, class: "sign-up" %>
      <%= link_to '企業ユーザー登録', new_comp_registration_path, class: "sign-up" %>

    </header>

    <%= yield %>

    <%# footer %>
    <footer>
      <p>footer</p>
    </footer>

  </body>
</html>
